<form action="/bitcoins">
  <label for="amount">How many bitcoin do you have?</label>
  <input type="text" id="amount" name="amount" value="<%= @bitcoin %>">
  <button>Submit</button>
  <a href="/bitcoins">Cancel</a>
</form>

<p>You have <%= @bitcoin %> Bitcoin.</p>
<p>1 Bitcoin is valued at $<%= @usd_rate %> USD.</p>
<p>Your Bitcoin is worth $<%= @usd_value %>.</p>